@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{

    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    var officeLocation = settings?.Value<string>("officeLocation") ?? "";
    var officePhoneNumber = settings?.Value<string>("officePhoneNumber") ?? "";
    var officeEmailAddress = settings?.Value<string>("officeEmailAddress") ?? "";

    var pickedImage = Model?.Content.Value<IPublishedContent>("pickedImage")?.Url() ?? null;
    var pickedBackgroundImage = Model?.Content.Value<IPublishedContent>("pickedBackgroundImage")?.Url() ?? null;
    var lightBackgroundToggle = Model!.Content.Value<bool>("lightBackgroundToggle") ? "" : "bg-gray";

}

<section class="generic-showcase-section @lightBackgroundToggle">
    <div class="container">
        @if(!string.IsNullOrEmpty(pickedBackgroundImage)){
            <img class="background-image" src="@pickedBackgroundImage" alt="background-image">
        }
        <img class="person-image" src="@pickedImage" alt="Contact us image" >
        <div class="text-box">
            <h2>Let us know about your next project</h2>
            <div class="address-box">
                <i class="icon fa-thin fa-location-dot"></i>
                <div class="address-box-text">
                    <h5>Office location</h5>
                    <p>@officeLocation</p>
                </div>
            </div>
            <div class="address-box">
                <i class="fa-regular fa-phone-flip"></i>
                <div class="address-box-text">
                    <h5>Phone number</h5>
                    <p>@officePhoneNumber</p>
                </div>
            </div>
            <div class="address-box">
                <i class="fa-light fa-envelope"></i>
                <div class="address-box-text">
                    <h5>E-mail address</h5>
                    <p>@officeEmailAddress</p>
                </div>
            </div>
        </div>
    </div>
</section>